<html>
    <head>
    </head>
    <body style="background-color:#ffdab9;" >

        <h1 style="background-color:#deb887; width: 25vw;margin: 15px auto;">Student information system</h1>

        <div style="padding: 10px; border: 5px solid rgb(192, 140, 50); border-radius: 10px; height: 10vh;width:20vw; margin:50px auto;">
            <a href="/login">LOGIN</a><br><br>
            <a href="/register">REGISTER</a>
        </div>

    </body>
</html>
